body:div{
    background-color: rgb(105, 186, 189);
}

.name{
    margin: 100px;
    color: white;
    text-align: center;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    color:rgb(237, 243, 243);
    height:min-content;
    border-radius: 5px;
    display: flex;
}

.intro p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
    color: white;
}

.intro em{
    color: rgb(43, 121, 223);
}

.image{
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    z-index: 1;
    box-shadow : 0 15px 40px rgba(189, 240, 4, 0.2);
    transition: border-radius 0.3s;
}

.image:hover{
    visibility : visible;
    opacity : 1;
    box-shadow : 0 15px 40px rgba(255, 3, 3, 0.2);
    border-radius: 220px;
}

.icons{
    display: flex;
    width:70%;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 100px;
    
}

.icons div{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    text-align: center;
    z-index: 900;
}

.icons h7{
    color: white;
    font-size: large;
}
.icons p{
    color: white;
    font-size: small;
    z-index: 900;
}

.social{
    display: flex;
    
}

.social div{
    margin-left: auto;
    margin-right: auto;
}

.name_link:hover {
    cursor: pointer;
}

.indicator{
    color:rgb(43, 121, 223);
    text-align: center;
    width: 10%;
    background-color: white;
}

.skills{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
    padding: 50px;
}

.skill{
    display: flex;
    margin-top: 5px;
    color: black;
    padding: 10px;
}

.skill p{
    font-size: small;
}

.skills p{
    color: white;
    opacity: 0.99;
    margin-left: 15px;
} 

.progress{
    background-color:white;
    border-radius: 50px;
    width: 90%;
    opacity: 0.99;
    font-size: small;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.hundered{
    width: 100%;
    background-color: rgb(43, 121, 223);
    border-radius: 50px;
    height: 100%;
}

.ninety{
    width: 90%;
    background-color: rgb(43, 121, 223);
    border-radius: 50px;
    height: 100%;
}

.eighty{
    width: 80%;
    background-color: rgb(43, 121, 223);
    border-radius: 50px;
    height: 100%;
}

.seventy{
    width: 70%;
    background-color: rgb(43, 121, 223);
    border-radius: 50px;
    height: 100%;
}

.sixty{
    width: 60%;
    background-color: rgb(43, 121, 223);
    border-radius: 50px;
    height: 100%;
}

.fifty{
    width: 50%;
    background-color: rgb(43, 121, 223);
    border-radius: 50px;
    height: 100%;
}

.summary{
    color:rgb(43, 121, 223);
}

.page{
    text-align: center;
    z-index: 900;
}

.logo{
    margin-left: 10px;
    opacity: 0.9;
}