body:div{
    background-color: rgb(105, 186, 189);
}

.name{
    margin: 100px;
    color: white;
    text-align: center;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    color:rgb(237, 243, 243);
    height:min-content;
    border-radius: 5px;
    display: flex;
}

.intro p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
}

.intro em{
    color: rgb(43, 121, 223);
}

.image{
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    z-index: 1;
    box-shadow : 0 15px 40px rgba(189, 240, 4, 0.2);
    transition: border-radius 0.3s;
}

.image:hover{
    visibility : visible;
    opacity : 1;
    box-shadow : 0 15px 40px rgba(255, 3, 3, 0.2);
    border-radius: 220px;
}

.icons{
    display: flex;
    width:70%;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 100px;
    
}

.icons div{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    text-align: center;
    z-index: 900;
}

.icons h7{
    color: white;
    font-size: large;
}
.icons p{
    color: white;
    font-size: small;
    z-index: 900;
}

.social{
    display: flex;
    
}

.social div{
    margin-left: auto;
    margin-right: auto;
}

.name_link:hover {
    cursor: pointer;
}