.App {
  text-align:left;
  color: rgb(10, 6, 0);
}

.back{
  z-index: 0;
}

.home{
  z-index: 100;
}

.tabs{
  display:flexbox;
}

.tab-list { 
  margin: 50px;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  margin-left: 50px;
}

.tab-list-active {
  border: solid #ccc;
  border-width: 0px 0px 0 0px;
  color:brown;
}